@{
    Layout = null;
}
@using System.Xml;
@{
    //****************** Khởi độngNgười dùng : Bảo mật và Phân quyền **********
    var Giam_thi = (XmlElement)Session["Nguoi_dung_Dang_nhap"];
    if (Giam_thi == null)
    {
        Response.Write("Người dùng chưa đăng nhập");
        Response.End();
    }
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    var Du_lieu = XL_LUU_TRU.Doc_Du_lieu();
    var Quan_ly = (XmlElement)Du_lieu.GetElementsByTagName("Quan_ly")[0];
    var Danh_sach_Hoc_sinh = (XmlElement)Du_lieu.GetElementsByTagName("Danh_sach_Hoc_sinh")[0];

    //******************* Khai báo Biến  ********************
    var Chuoi_Tra_cuu = "";// Biến Nhập 
    var Ma_so_Hoc_sinh = "";// Biến Nhập
    var Ly_do_Vang = "";// Biến Nhập
    var Danh_sach_Hoc_sinh_Xem = Danh_sach_Hoc_sinh;  // Biến Kết quả
    var Chuoi_HTML_Thong_bao = "<div class='alert alert-info'>Danh sách " + Danh_sach_Hoc_sinh_Xem.ChildNodes.Count + " Học sinh" + "</div>";

    //******************* Nhập liệu cho Biến Nhập nếu có - Tính Biến kết quả nếu Hợp lệ   *****************
    if (Request["Th_Chuoi_Tra_cuu"] != null)
    {
        Chuoi_Tra_cuu = Request["Th_Chuoi_Tra_cuu"];
        Danh_sach_Hoc_sinh_Xem = XL_NGHIEP_VU.Tra_cuu_Hoc_sinh(Chuoi_Tra_cuu, Danh_sach_Hoc_sinh);
        Chuoi_HTML_Thong_bao = "<div class='alert alert-info'>Danh sách " + Danh_sach_Hoc_sinh_Xem.ChildNodes.Count + " Học sinh" + "</div>";
    }

    if (Request["Th_Ma_so_Hoc_sinh"] != null)
    {
        Ma_so_Hoc_sinh = Request["Th_Ma_so_Hoc_sinh"];
        Ly_do_Vang = (Request["Th_Ly_do_Vang"]);
        var Hoc_sinh = (XmlElement)Danh_sach_Hoc_sinh.SelectSingleNode("Hoc_sinh[@Ma_so='" + Ma_so_Hoc_sinh + "']");
        var Hop_le = Hoc_sinh != null;
        if (Hop_le)
        {
            var Vang = Hoc_sinh.OwnerDocument.CreateElement("Vang");
            Vang.SetAttribute("Ngay", DateTime.Now.Day + "/" + DateTime.Now.Month + "/" + DateTime.Now.Year);
            Vang.SetAttribute("Ly_do", Ly_do_Vang);
            var Kq_Ghi = XL_LUU_TRU.Ghi_Diem_danh(Hoc_sinh, Vang);
            Chuoi_HTML_Thong_bao = "<div class='alert alert-success'>Học sinh " + Hoc_sinh.GetAttribute("Ho_ten") + " vắng "
                                 + "</div>";
        }
    }

    //******************* Kết xuất  **********
    var Chuoi_HTML_Danh_sach_Hoc_sinh = XL_THE_HIEN.Tao_Chuoi_HTML_Danh_sach_Hoc_sinh(Danh_sach_Hoc_sinh_Xem);
    var Chuoi_HTML_Giam_thi = "<div class='alert alert-info'>Xin chào Giám thị <b>" + Giam_thi.GetAttribute("Ho_ten") + "</b></div>";
}



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title></title>
</head>
<body style="font-family:Arial;width:100%;box-sizing:border-box;
              margin:0px;;padding:0px;overflow-x:hidden" class="container-fluid">
    <div class="CUA_SO_PET" style="background-color:aliceblue;margin:10px">
        <div class="btn btn-outline-primary" style="background-color:white;color:blue">
            Công nghệ Xml và Ứng dụng
            <br />  @Quan_ly.GetAttribute("Ten") - Phân hệ Giám thị
        </div>
    </div>
    <div class="CUA_SO_GIAM_THI" style="margin:10px">
        @Html.Raw(Chuoi_HTML_Giam_thi)
    </div>
    <div class="CUA_SO_CHUC_NANG" style="background-color:gray;margin:10px">
        <div class="DANH_SACH_CHUC_NANG">
            <div class="btn  CHUC_NANG">
                <form method="post">
                    <input name="Th_Chuoi_Tra_cuu" style="height:30px" placeholder="Chuỗi tra cứu"
                           spellcheck="false" autocomplete="off" value="@Chuoi_Tra_cuu" />

                </form>
            </div>
            
        </div>
    </div>
    <div class="CUA_SO_KET_QUA" style="background-color:white;margin:10px">
        @Html.Raw(Chuoi_HTML_Thong_bao)
        @Html.Raw(Chuoi_HTML_Danh_sach_Hoc_sinh)
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
